*.db
*.pch
*.ipch
*.cd
*.opendb
*.obj
*.tlog
*.pdb
*.ilk
*.dll
*.lib
*.log
*.exe
ipch/*
ipch
*.VC.db
*.idb
*.exps
Debug/**
Release/**
ipch/**
geo_location/Debug/**
geo_location/Release/**
tk103/Debug/**
tk103/Release/**